.error {
	background-color: red;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}
.comments {
	margin-top: 25px;
}
.comment {
	margin-top: 15px;
}
.commentName {
	font-weight: bold;
}
.blogPostSummary, .comment {
	border: 1px dotted; 
}
.blogPostFooter {
}
.byLine {
	float: right;
}
.commentsLink {
	float: left;
}

/*#footer {
margin-top: 2%;
position:absolute;
bottom:0;
}*/

#navigation {
		background:#fff;
		border-bottom:2px solid #000;
		overflow:hidden;
		position:relative;
}
#navigation ul {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}
#navigation ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}
#navigation ul li a {
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	background:#ddd;
	color:#000;
	text-decoration:none;
	line-height:1.3em;
}
#navigation ul li a:hover {
	background:#369;
	color:#fff;
		}
		#navigation ul li a.active,
		#navigation ul li a.active:hover {
			color:#fff;
			background:#000;
			font-weight:bold;
					 }*/
					/*
					label{float:left; 
					clear: left;
}
	input {
	float: left;
}
	textarea {
	padding: 5px;
}
					 */

