/* hack reset (for production, use Yahoo! reset CSS)
*************************/

*
{
	margin: 0;
	padding: 0;
}

/* body
*************************/

body
{
	font: 14px/21px lucida console;
	color: #370707;
	background: black url(images/mainbg.jpg) repeat; 
	/* If user sets background image, images/mainbg.jpg will be used*/
}

/* links
*************************/

a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
}

/* inline elements
*************************/

strong
{
	font-weight: bold;
}

/* div
*********/
div.sub
{	
	width: 70%;
	border: white 10px solid;
	font-size: 14px;	
	font-family: lucida;	
	color: black;
	background-color: white;
	
}

div.centered {

	margin-left:auto;
	margin-right:auto;
}

div.footer {

	position: relative;
   bottom:0;
   color: white;
   width:100%;
   height:60px;   /* Height of the footer */
   text-align:center;

}

/* tabs
*************************/

ul.tabs
{
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

ul.tabs li
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	float: left;
	position: relative;
}

ul.tabs a
{
	position: relative;
	display: block;
}

/* dropdowns
*************************/

ul.dropdown
{
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	z-index: 999;
	top: 100%;
	width: 250px;
	display: none;
	left: 0;
}

ul.dropdown ul.dropdown
{
	top: 0;
	left: 95%;
}

ul.dropdown li
{
	margin: 0;
	padding: 0;
	float: none;
	position: relative;
	list-style: none;
	display: block;
}

ul.dropdown li a
{
	display: block;
}


/* menu-specifc
*************************/

#menu
{
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: white;
	/* url(images/topbg.gif) repeat-x;
	border-bottom: 1px solid #000; */
}

#menu ul
{
	margin: 0 auto;
}

#menu ul li h4
{
	margin: 0;
}

#menu ul li h4 a
{
	font-size: 14px;
	color: #000;
	font-weight: bold;
	padding: 0 15px;
}

#menu ul li a
{
	color: black;
	padding-left: 4px;
}

#menu ul li a img
{
	vertical-align: middle;
}

#menu ul li a span
{
	display: block;
	padding: 0 15px 0 11px;
}

#menu ul li a:hover span
{
	background: black top right;
	color: white;
}

#menu ul.dropdown
{
	padding: 10px;
	background-image: url(images/dropdown.png);
	opacity: 1;
	overflow:hidden;
	border-bottom: 1px solid black;
	width: 290px;
}

#menu ul.dropdown li a
{
	border-bottom: 1px solid black;
	line-height: 30px;
	overflow: hidden;
	height: 30px;
}

#menu ul.dropdown li.last a
{
	border-bottom-width: 0;
}

#menu ul li h4 a:hover
{
	background-image: none;
}