.error {
	background-color: red;
}
.error, #message {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}
#message {
	background-color: #33CC66;
}
.comments {
	margin-top: 25px;
}
.comment {
	margin-top: 15px;
}
.commentName {
	font-weight: bold;
}
.blogPostSummary, .comment {
	border: 1px dotted; 
}
.blogPostFooter {
}
.byLine, .timestamp, .deleteLink{
	float: right;
}
.commentsLink, .reportLink, .commentName {
	float: left;
}
.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	clear: both;
}
.deletePost {
	float: right;
	margin-top: -50px;
	margin-right: 15px;
}

#contents {

	margin-top: 100px;
}


div .blogPostSummary {

}
/* THEMES: */
.default {

	color: black;
	background: #ddd;
}

.swede {
	color: blue;
	background: yellow;
	}

div .posts {
	margin-top: 2%;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

div .profile {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	width: 60%;
	background: #ddd;
	overflow: hidden;
}

div .picture {
	float: left;
	border: 10px solid #ddd;

}

div .info {
	float: right;
	width: 80%;
}


div .inner {
}

#footer {
margin-top: 2%;
text-align: center;
background-color: gray;
bottom: 0px;
position: fixed;
width: 100%;
}

#navigation {
		background:#fff;
		border-bottom:2px solid #000;
		overflow:hidden;
		position:fixed;
		background-color: gray;
		top: 0px;
		width: 100%;
		z-index: 1;
}
#navigation ul {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}
#navigation ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}
#navigation ul li a {
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	background:#ddd;
	color:#000;
	text-decoration:none;
	line-height:1.3em;
}
#navigation ul li a:hover {
	background:#369;
	color:#fff;
		}
		#navigation ul li a.active,
		#navigation ul li a.active:hover {
			color:#fff;
			background:#000;
			font-weight:bold;
					 }*/
					/*
					label{float:left; 
					clear: left;
}
	input {
	float: left;
}
	textarea {
	padding: 5px;
}
					 */