.blogPostSummary {
	border: 1px dotted; 
}
.blogPostFooter {
	text-align: right;
}
#footer {
	margin-top: 2%;
	position:absolute;
	bottom:0;
}


label{float:left; 
	clear: left;
}
input {
	float: left;
}
