/*Dont know why i had to set margin-left to null.. 
General CSS ahead:*/
body {
	margin: 0;
	height: 100%;
}

select, textarea {
	resize: none;
	color: black;
	background: white;
	border: none;
}

/* Error/messages CSS*/

.message {
	text-align: center;
	font-weight: bold;
	color: black;
	display:block;
	width: 100%;
	margin-top: -20px;
	position: fixed;
	height: 20px;
	vertical-align: middle;
}

.message p {
	margin-top: 0;
}

.red {
	background-color: red;
}

.green {
	background-color: #33CC66;
}

/* Error/messages CSS, end.*/


/**/
.sideBar {
	float: left;
	position: fixed;

}

/*Login*/

.login {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	border: 10px solid #ddd;
}

/* create blogpost*/
.createPost {
	min-width: 500px;
	margin-right: auto;
	margin-left: auto;
	width: 650px;
	overflow: hidden;
	margin-bottom: 10px;
	background:  #ddd;
	border: 10px solid #ddd;

}

#blogPost p {
	font-weight: bold;
}

/* */

.comments {
	margin-top: 25px;
}

.comment {
	margin-top: 15px;
}
.commentName {
	font-weight: bold;
}
.blogPostSummary, .comment {
	margin-bottom: 10px;
	border-bottom: 5px solid black;
}
.blogPostFooter {
}
.byLine, .timestamp, .deleteLink{
	float: right;
}
.commentsLink, .reportLink, .commentName {
	float: left;
}
.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.deletePost {
	float: right;
	margin-top: -50px;
	margin-right: 15px;
}

/*The contents ID*/
#contents {
	margin-top: 75px;
	margin-bottom: 20px;
	z-index: 1;
	height: 100%;
}


/* THEMES beneath */
.default {
	background: #ddd;
	color: black;
}

.hellner {
	background: blue;
	color: yellow;
}

.northug {
	background: red;
	color: white;
}

/*Links*/
a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

/************/

/* Helpers */

.leftAlign {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

/*********/


/*Table specifix*/
.table {
	border: 1px solid gray;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;

}

.table th {
	width: 130px;
	border: 1px solid black;
	text-align: center;
	background: gray;
}
.table td {
	border: 1px solid gray;
	padding: 4px;
}

/********/


/* Profile CSS above */

/* div sizes */

div .size1 {
	min-width: 650px;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	margin-bottom: 10px;
	border: 10px solid transparent;
}

div .profilePicture {
	border: 10px solid transparent;
	float: left;
}



/**************/

/* change/create CSS beneath: */

#userInfo {
	border: 10px solid transparent;
}

.input label {
	display: block;
	float: left;
	width: 130px;
}

#form {
	margin-left: 30%;
}


/*Change/create CSS above*/


#footer {
margin-top: 2%;
text-align: center;
background-color: gray;
bottom: 0px;
position: fixed;
width: 100%;
}

#navigation {
		background:#fff;
		border-bottom:2px solid #000;
		overflow:hidden;
		position:fixed;
		background-color: gray;
		top: 0px;
		width: 100%;
		z-index: 1;
}
#navigation ul {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}
#navigation ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}
#navigation ul li a {
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	background:#ddd;
	color:#000;
	text-decoration:none;
	line-height:1.3em;
}
#navigation ul li a:hover {
	background: white;
	color:black;
}

#navigation ul li a.active,

#navigation ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
					 }*/
					/*
					label{float:left; 
					clear: left;
}
	input {
	float: left;
}
	textarea {
	padding: 5px;
}
					 */